*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f0f5ff;
}

@keyframes slideLeft{
    0% { transform: translateX(0);  }
    100% { transform: translateX(-100%); }
}

@keyframes slideRight{
    0% { transform: translateX(100%);  }
    100% { transform: translateX(0); }
}